// Sass Variables

$color-primary: #0092ff;
$color-secondary: #091d3e;
$color-heading: #1f314f;
$color-body: #848e9f;
$color-dark: #222222;
$color-black: #000000;
$color-gray: #f9f9f9;
$color-white: #ffffff;

$font-heading: 'M PLUS 1p',
sans-serif;

$font-body: 'Noto Sans JP',
sans-serif;

$body-font-size: 16px;